Makefile
Makefile.in
configure
libtool
config
config.status
config.log
aclocal.m4
autom4te.cache
*.o
*.gcno
*.class
*.ncb
*.lo
*.loT
*.la
*.html
*.pdf
*.ps
.*
*~
.*~
cloudless/details/platform.hpp*
cloudless/details/stamp-h1
doc/*.1
doc/*.3
doc/*.7
doc/*.html
doc/*.xml
libcloudless.pc
cloudless-*.tar.gz
cloudless-*.zip
builds/redhat/cloudless.spec

# test artifacts
tests/test_[a-z]*
!tests/test_[a-z]*.cpp
